.nav-bar{
  display: flex;
  font-size: 32px;
  align-items: center;
  background-color: #D23D39;
  color: #fff;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-bar div{
  display: flex;
  align-items: center;
  flex: 1;
}
.nav-bar-title{
  justify-content: center;
}
.nav-bar-left{
  padding-left: 30px;
}
.nav-bar-right{
  justify-content: flex-end;
  padding-right: 30px;
}