.user-info{
  font-size: 32px;
  display: flex;
  align-items: center;
}
.user-thumb{
  flex-basis: 140px;
  padding: 20px;
}
.user-thumb img{
  width: 100%;
  border-radius: 100px;
}
.user-content{
  flex: 1;
}
.user-level{
  font-size: 28px;
  color: #979798;
}
.user-extra{
  padding-right: 30px;
}
.user-menu{
  font-size: 24px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 20px 0;
}
.user-menu div{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-right: 1px solid #ddd;
}
.user-menu div:last-child{
  border-right: 0;
}
.user-menu span{
  color: #979798;
}