body,div,img, input{
  padding: 0;
  margin: 0;
  border: 0;
}
div > img{
  display: block;
}
*:focus {outline: none;} 
.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container div{
  flex: 1;
}
.flex-column{
  flex-direction: column;
}
.flex-right{
  justify-content: flex-end;
}
.mine .cell .icon{
  color: #979798;
}

.menu {
  font-size: 24px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.menu .icon{
  color: #D23D39;
}
.menu-lg{
  font-size: 32px;
}
.menu-md{
  font-size: 28px;
}
.line-right{
  border-right: 1px solid #ddd;
}